<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>
    <div id="app-2">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound
        title!
      </span>
    </div>

    <div id="app-3">
      <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
      <ol>
        <li class="hello" v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="action">Click me</button>
    </div>

    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message" />
    </div>

    <div id="app-7">
      <ol>
        <!--
                Now we provide each todo-item with the todo object
                it's representing, so that its content can be dynamic.
                We also need to provide each component with a "key",
                which will be explained later.
              -->
        <todo-item
          v-for="item in grocery"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>

    <script>
           Vue.component("todo-item", {
        props: ["todo"],
        template: "<li>{{ todo.text }}</li>"
      });

      var app7 = new Vue({
        el: "#app-7",
        data: {
          grocery: [
            { id: 0, text: "Vegetables" },
            { id: 1, text: "Cheese" },
            { id: 2, text: "Whatever else humans are supposed to eat" }
          ]
        }
      });

   
      var app6 = new Vue({
        el: "#app-6",
        data: {
          message: ""
        }
      });
      var app5 = new Vue({
        el: "#app-5",
        data: {
          message: "Hello yoł"
        },
        methods: {
          action: function() {
            this.message = this.message.split("")[0];
          }
        }
      });
      var app4 = new Vue({
        el: "#app-4",
        data: {
          todos: [
            { text: "Learn JavaScript" },
            { text: "Learn Vue" },
            { text: "Build something awesome" }
          ]
        }
      });
      let app3 = new Vue({
        el: "#app-3",
        data: {
          seen: true
        }
      });
      var app = new Vue({
        el: "#app",
        data: {
          message: "Hello Vue!"
        }
      });

      var app2 = new Vue({
        el: "#app-2",
        data: {
          message: "You loaded this page on " + new Date().toLocaleString()
        }
      });
    </script>
  </body>
</html>
